$c-gray: #eee;
$dark-green: #1a5a4c;
$green-date: #1a5a4c;
$white-color: #fff;
$gray-name: #687480;
$dark-title: #0f0e08;
$dark-paragtaph: #4e4e4e;
$title-red: #f14a27;
$gray-button: #bdbaba;
$active-button-gallery: #1a5a4c;
$semi-transparent-white: #ffffff80;
$footer-hr: #1a5a4c80;
$table-min-width: 768px;
$desktop-min-width: 1280px;
$transition: 0.3s;
