.menu {
  &__content {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-inline: 20px;
    padding-block: 27px;
    background-color: $dark-green;

    @include on-tablet {
      padding: 39px;
      flex-direction: row;
      gap: 39px;
    }

    @include on-desktop {
      padding-left: 55px;
      margin-inline: auto;
      justify-content: space-between;
    }

    &--footer {
      padding: 0;
      background-color: $c-gray;
    }
  }

  &__top {
    display: flex;
    gap: 28px;

    @include on-tablet {
      gap: 39px;
    }

    @include on-desktop {
      gap: 102px;
    }
  }

  &__close {
    text-decoration: none;
    display: block;
    background-image: url(../images/icon/icon-close.svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;

    @include hover(transform, scale(1.2));
  }

  &__hr {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);

    @include on-tablet {
      width: 1px;
      height: auto;
    }
  }

  &__bottom {
    @include on-tablet {
      display: flex;
      gap: 39px;
      justify-content: space-between;
    }

    &--footer {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  }

  &__schedule {
    flex-grow: 1;
  }

  &__schedule-title {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 141%;
    letter-spacing: 0;
    color: $white-color;

    &--footer {
      color: $dark-title;
    }
  }

  &__hours {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
    color: $white-color;

    &--footer {
      color: $dark-title;
    }
  }

  &__day {
    font-weight: 400;
  }

  &__day-on-tablet {
    display: none;

    @include on-tablet {
      display: inline;
    }
  }

  &__info {
    margin-top: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
    color: $white-color;
    align-self: flex-end;

    &--footer {
      color: $dark-title;
      align-self: flex-start;
      margin-top: 0;
    }
  }
}
